/* your css here */
#top      { background-image: url(#1024x768); }
#mypage   { background-image: url("#128x128"); }
#mission  { background-image: url('#320x240'); }
#mission_result { background-image: url(http://example.com/foo#opera); }
#battle   { background-image: url(../../../../#firefox); }
